@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "About";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Charts</title>
    <style>
        .chartBox {
            padding: 20px;
            border-radius: 15px;
            border: solid 3px rgba(1, 26, 104, 5);
            background: white;
        }
    </style>
</head>
<body>

    <div class="container">

        <div class="col-12 text-center">
            <hr />
            <h3>Most Popular Artists</h3>
            <hr />
            <div class="chartBox">
                <canvas id="myChart" width="200" height="100"></canvas>
                <hr />
                <div class="text-lg-left">
                    <button id="prevBtn" style="color:red; border-color:mediumpurple; font-size:small;">Previous Chart</button>
                    <button id="nextBtn" style="color: green; border-color: mediumpurple; font-size: small;">Next Chart</button>
                </div>
            </div>
        </div>
    </div>

    


    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>

        const btnNext = document.getElementById("nextBtn");
        const btnPrev = document.getElementById("prevBtn");

        btnNext.addEventListener('click', nextChart);
        btnPrev.addEventListener('click', prevChart);

       

        //var settings = {
        //    "url": "https://localhost:44314/api/TrackApi",
        //    "method": "GET",
        //    "timeout": 0,
        //};

        //$.ajax(settings).done(function (tracks) {
        //    console.log(tracks);
        //    const popularity = Artist.map(x => x.Popularity);


        // ARTIST BY POPULARITY BAR CHART

        const labels = ['Eminem',
            'Shakira',
            '2pac',
            'Linking Park',
            'AC/DC',
            'METALICA',
        ];

        const data = {
            labels: labels,
            datasets: [{
                label: 'Most Popular Artists',
                backgroundColor: [
                    'rgba(153, 102, 255, 0.4)',
                    'rgba(54, 162, 235, 0.4)',
                    'rgba(255, 206, 86, 0.4)',
                    'rgba(75, 192, 192, 0.4)',
                    'rgba(255, 99, 132, 0.4)',
                    'rgba(255, 159, 64, 0.4)'
                ],
                borderColor: [
                    'rgba(153, 102, 255, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1,

                hoverBorderRadius: 50,
                hoverBorderWidth: 2.5,
                hoverBackgroundColor: [
                    'rgba(153, 102, 255, 0.9)',
                    'rgba(54, 162, 235, 0.9)',
                    'rgba(255, 206, 86, 0.9)',
                    'rgba(75, 192, 192, 0.9)',
                    'rgba(255, 99, 132, 0.9)',
                    'rgba(255, 159, 64, 0.9)'
                ],

                data: [5, 4, 3, 2, 1, 0.7],
            }]
        };

        const tooltip = {
            backgroundColor: 'lightgray',
            titleColor: 'black',
            borderColor: 'black',
            borderWidth: 0.425,
            callbacks: {
                label: function (context) {
                },

            }
        };

        const config = {
            type: 'bar',
            data: data,
            options:
            {
                plugins: {
                    tooltip,


                    legend: {
                        onClick: (evt, legendItem, legend) => {
                            const index = legend.chart.data.labels.indexOf(legendItem.text);
                            legend.chart.toggleDataVisibility(index);
                            legend.chart.getDataVisibility(index);
                            legend.chart.update();
                        },

                        labels: {
                            generateLabels: (chart) => {
                                let visibility = [];
                                for (let i = 0; i < chart.data.labels.length; i++) {
                                    if (chart.getDataVisibility(i) == true) {
                                        visibility.push(false)
                                    }
                                    else {
                                        visibility.push(true)
                                    }
                                };

                                return chart.data.labels.map(
                                    (label, index) => ({
                                        text: label,
                                        strokeStyle: chart.data.datasets[0].borderColor[index],
                                        fillStyle: chart.data.datasets[0].backgroundColor[index],
                                        hidden: visibility[index]
                                    })
                                )
                            }
                        }
                    },

                },
                indexAxis: 'y',
            }
        };

        const myChart = new Chart(
            document.getElementById('myChart'),
            config
        );
                    // 1ST CHART ENDING

        /*   });*/


        function nextChart() {
            const updatetype = 'bar';
            myChart.config.type = updatetype;
            myChart.update();
        }
        function prevChart() {
            const updatetype = 'polarArea';
            myChart.config.type = updatetype;
            myChart.update();
        }

    </script>

</body>
</html>

@*[HttpGet]

    public ActionResult GetAllTracksChart(int count, string sortOrder)
    {
        var tracks = unit.Tracks
                    .GetTracksWithEverything()
                    .Select(x => new Track { Id = x.Id, Title = x.Title, DurationSecs = x.DurationSecs, Popularity = x.Popularity})
                    .Take(count);

        switch (sortOrder)
        {
            case "ASC": Tracks = Tracks.OrderBy(x => Popularity).ToList(); break;
            case "DESC": Tracks = Tracks.OrderByDescending(x => Popularity).ToList(); break;
            default : Tracks = Tracks.OrderBy(x => Popularity).ToList(); break;


        }

            return Tracks

    }*@