
@{
    ViewBag.Title = "Artist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<script>


    $(document).ready(function () {


        SiteHelper.AjaxHelper.contentLoader(
            'artists-container',
            (artist, i) => `<div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="discography__item">
                                    <div class="discography__item__pic">
                                        <object data="${artist.PhotoUrl == '' ? '_' : artist.PhotoUrl}" type="image/png">
                                            <img src="/Content/Assets/img/discography/no-photo.png" alt="${artist.Name}">
                                        </object>
                                    </div>
                                    <div class="discography__item__text">
                                        <span>${artist.Name}</span>
                                        <hr />
                                        <h4><strong>Career Start Date</strong></h4>
                                        <h4>${SiteHelper.Converter.csDateStrToJsDateStr(artist.CareerStartDate, 'mm.yyyy')}</h4>
                                        <h6><strong>No Albums</strong></h6>
                                        <h6>${artist.Albums.length}</h6>
                                        <h6><strong>Genres</strong></h6>
                                        <h6>${artist.ArtistGenres.length ? artist.ArtistGenres.join(', ') : 'N/K'}</h6>
                                    </div>
                                </div>
                            </div>`,
            null,
            new SiteHelper.AjaxHelper.ajaxObject('/api/ArtistApi'), '300px').start();
    });
</script>
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="/"><i class="fa fa-home"></i> Home</a>
                    <span>@ViewBag.Title</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Discography Section Begin -->
<section class="discography spad">

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title center-title">
                    <h2>All</h2>
                    <h1>Artists</h1>
                </div>
            </div>
        </div>

        <div id="artists-container" class="row"></div>
    </div>
</section>
<!-- Discography Section End -->
