@{
    ViewBag.Title = "Chat";
}

<link rel="stylesheet" type="text/css" href="~/Content/ChatStyle.css" />

<div class="chat-container">
    <div class="chat-header">
        <h1>Chat Room</h1>
    </div>
    <div class="chat-body" id="chat-body">
        <p class="chat-message">Hello friends</p>
        <p class="chat-message chat-user_message">Hello</p>
    </div>
    <div class="chat-footer">
        <input class="chat-input" type="text" id="message" name="" />
        <button id="sendmessage" value="Send">SEND</button>
        <input type="hidden" id="displayname" />
    </div>
</div>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>

    <script>
        $(function () {
            var chat = $.connection.chatHub;
            chat.client.addNewMessageToPage = function (name, message) {
                const className = $('#displayname').val() == name ? 'chat-message chat-user_message' : 'chat-message';

                $('#chat-body').append(
                    `<p class="${className}"><span>${htmlEncode(name)}: </span>${htmlEncode(message)}</p>`
                );
            };
            $('#displayname').val(prompt('Enter your name:', ''));
            $('#message').focus();
            $.connection.hub.start().done(function () {
                $('#sendmessage').click(function () {
                    chat.server.send($('#displayname').val(), $('#message').val());
                    $('#message').val('').focus();
                });
            });
        });

        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>
}