@{
    ViewBag.Title = "Chat";
}

<link rel="stylesheet" type="text/css" href="~/Content/ChatStyle.css" />

<button class="chat-popup"><img src="https://img.icons8.com/external-mixed-line-solid-yogi-aprelliyanto/64/000000/external-chat-fintech-mixed-line-solid-yogi-aprelliyanto.png" alt="chat box" /></button>


<div class="chat-container" style="display:none">
    <div class="chat-header">
        <h1>Chat Room</h1>
    </div>
    <div class="chat-body" id="chat-body">
        <p class="chat-message" hidden></p>
        <p class="chat-message chat-user_message" hidden></p>
    </div>
    <div class="chat-footer">
        <input class="chat-input" type="text" id="message" name="" />
        <button id="sendmessage" value="Send"> <i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp; Send</button>
        <input type="hidden" id="displayname" />
    </div>
</div>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>

    <script>
        $(function () {
            var chat = $.connection.chatHub;
            chat.client.addNewMessageToPage = function (name, message) {
                const className = $('#displayname').val() == name ? 'chat-message chat-user_message' : 'chat-message';

                $('#chat-body').append(
                    `<p class="${className}"><span>${htmlEncode(name).bold()}: </span>${htmlEncode(message).fontcolor(color = "purple")}  <span>${getTime().fontsize(1).fontcolor(color = "gray")}</span></p>`
                );
                $(document).ready(function () {
                    $('#chat-body').animate({ scrollTop: 1000000 }, 800);
                })
            };
            $('#displayname').val(prompt('Enter your nickname:', ''));
            $('#message').focus();
            $.connection.hub.start().done(function () {
                $('#sendmessage').click(function () {
                    chat.server.send($('#displayname').val(), $('#message').val());
                    $('#message').val('').focus();
                });
            });                                
        });

        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }

        $(document).ready(() => {
            $('.chat-popup').click(() => {
                $('.chat-container').slideToggle("slow");
            });
        })

        function getTime() {
            let today = new Date();
            hours = today.getHours();
            minutes = today.getMinutes();

            if (hours < 10) {
                hours = "0" + hours;
            }
            if (minutes < 10) {
                minutes = "0" + minutes;
            }
            let time = hours + ":" + minutes;           
            return time;
        }
       

    </script>
}