<!-- About Section Begin -->
<section class="about spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about__pic">
                    <img src="/Content/Assets/img/about/about.png" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about__text">
                    <div class="section-title">
                        <h2>Live the music experience</h2>
                        <h1>Monkey World</h1>
                    </div>
                    <p>
                        Be part of our society and explore a new world full of music. We provide the ultimate experience with abundance 
                        to satisfy every subscriber of our!! Stay tuned for more peolpe...
                    </p>
                    <a href="~/Home/Plans" class="primary-btn">LEARN MORE</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->