<!-- Hero Section Begin -->
<section class="hero spad set-bg" data-setbg="/Content/Assets/img/hero-bg.png">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="hero__text">
                    <span>The ultimate music experience</span>
                    <h1>Feel the heart of Monkey</h1>
                    <p>
                        Discover, Stream, Enjoy the music you love!
                    </p>
                    <a href="https://www.youtube.com/watch?v=K4DyBUG242c" class="play-btn video-popup"><i class="fa fa-play"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="linear__icon">
        <i class="fa fa-angle-double-down"></i>
    </div>
</section>
<!-- Hero Section End -->