
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Success View</h2>

    <h1>Role changed : @ViewBag.roleChanged</h1>

    <h1>Your payment done succesfully</h1>
    <h2>Thank you!</h2>
    <a href="/">Go Back</a>
</div>
