
@{
    ViewBag.Title = "FailureView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <h2>Your payment has NOT been done succesfully'</h2>
    <h3>Please try again'</h3>
    <a href="/Home/Plans">Go Back</a>
</div>
