@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body class="bg-success">
    <h1>Hello, world!</h1>


    <div class="col-8 offset-2">
        <div class="card">
            <div class="card-body">
                <h5>Chart JS tutorial</h5>
                <hr />
                <div>
                    <canvas id="myChart" width="400" height="400"></canvas>
                </div>

            </div>
        </div>
    </div>
    <script>
        console.log("hi");
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>


        const labels = [
            'Eminem',
            'Shakira',
            '2pac',
            'Linking Park',
            'AC/DC',
            'METALICA',
        ];

        const data = {
            labels: labels,
            datasets: [{
                label: 'Artist Popularity',
                backgroundColor: 'rgb(150, 200, 12)',
                borderColor: 'rgb(150, 99, 132)',
                data: [0, 1, 2, 3, 4, 5],
            }]
        };

        const config = {
            type: 'bar',
            data: data,
            options: {
                indexAxis: 'y',
            }
        };

        const myChart = new Chart(
            document.getElementById('myChart'),
            config
        );
    </script>
 
</body>
</html>
