<link rel="icon" type="image/png" href="icon/favicon-32x32.png" sizes="32x32">
<link rel="apple-touch-icon" href="icon/favicon-32x32.png">
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="icon" href="~/Areas/Admin/Assets_Admin/img/bg.jpg" type="image/png">
<title>Admin Page | Music Monkey</title>
