
@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Layout/_AdminLayout.cshtml";
}

<body>


    <!-- main content -->
    <main class="main">
        <div class="container-fluid">
            <div class="row">
                <!-- main title -->
                <div class="col-12">
                    <div class="main__title">
                        <h2>Add Album</h2>
                    </div>
                </div>
                <!-- end main title -->
                <!-- form -->
                <div class="col-12">
                    <form action="#" class="form">
                        <div class="row">

                            <div class="col-12 col-md-5 form__cover">
                                <div class="row">
                                    <div class="col-12 col-sm-6 col-md-12">
                                        <div class="form__img">
                                            <label for="form__img-upload">Upload Album Photo</label>
                                            <input id="form__img-upload" name="form__img-upload" type="file" accept=".png, .jpg, .jpeg">
                                            <img id="form__img" src="#" alt=" ">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-7 form__content">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form__group">
                                            <input type="text" class="form__input" placeholder="Title">
                                        </div>
                                    </div>



                                    <div class="col-12 col-lg-6">
                                        <div class="form__group">
                                            <select class="js-example-basic-multiple" id="genre" multiple="multiple">
                                                <option value="Action">Action</option>
                                                <option value="Animation">Animation</option>
                                                <option value="Comedy">Comedy</option>
                                                <option value="Crime">Crime</option>
                                                <option value="Drama">Drama</option>
                                                <option value="Fantasy">Fantasy</option>
                                                <option value="Historical">Historical</option>
                                                <option value="Horror">Horror</option>
                                                <option value="Romance">Romance</option>
                                                <option value="Science-fiction">Science-fiction</option>
                                                <option value="Thriller">Thriller</option>
                                                <option value="Western">Western</option>
                                                <option value="Otheer">Otheer</option>
                                            </select>
                                        </div>
                                    </div>


                                    <div class="col-12 col-sm-6 col-lg-3">
                                        <div class="form__group">
                                            <select class="js-example-basic-single form__input" id="quality">
                                                <option value="Choose Artist">Choose Artist</option>
                                                <option value="5">5</option>
                                                <option value="4">4</option>
                                                <option value="3">3</option>
                                                <option value="2">2</option>
                                                <option value="1">1</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-12 col-sm-6 col-lg-3">
                                        <div class="form__group">
                                            <input type="text" class="form__input" placeholder="Career Start Date" onfocus="(this.type='date')"
                                                   onblur="(this.type='text')">
                                        </div>
                                    </div>


                                </div>
                            </div>


                            <div class="col-12">
                                <button type="button" class="form__btn">publish</button>
                                <span>|<a href="~/Admin/Album/Index">Back</a></span>
                            </div>


                        </div>
                    </form>
                </div>
                <!-- end form -->
            </div>
        </div>
    </main>
    <!-- end main content -->

</body>
